<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.herault.comptecible">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
 />


    <application

        android:icon="@drawable/ic_launcher_foreground_v36"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_launcher_foreground_v36"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activity_MainActivity"

            android:exported = "true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity_config_round"
            android:parentActivityName=".Activity_MainActivity"
            android:label="CompteCible"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity_maintenance"
            android:parentActivityName=".Activity_MainActivity"
            android:label="CompteCible"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity_resultat_round"
            android:parentActivityName=".Activity_MainActivity"
            android:label="CompteCible"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity_resultat_image"
            android:parentActivityName=".Activity_MainActivity"
            android:label="CompteCible"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity_apropos"
            android:parentActivityName=".Activity_MainActivity"
            android:label="@string/Apropos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity_archer"
            android:parentActivityName=".Activity_MainActivity"
            android:label="CompteCible"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditNoteActivity"
            android:parentActivityName=".Activity_archer"
            android:label="CompteCible"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>